img {
    width: 200px;
    height: 200px;
}

div.mainInfo {
    background-color: rgb(48, 48, 48);
    padding: 10px 10px 10px 10px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 5px;
    border: 1px solid rgba(103, 102, 102, 0.31);
}